@font-face {
  font-family: Roboto;
  src: url(../../assets/fonts/Roboto-Regular.ttf);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.Section1 {
  margin: 0 auto;
  padding: 118px 0 0 110px;
  .container {
    max-width: 1330px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    .text-content {
      margin-top: 230px;
      h2 {
        max-width: 518px;
        width: 100%;
        font-family: Roboto;
        font-size: 68px;
        font-weight: 700;
        color: #211f54;
        margin-bottom: 22px;
      }
      p {
        max-width: 591px;
        width: 100%;
        font-family: Roboto;
        font-size: 21px;
        color: #6e7191;
        margin-bottom: 34px;
      }
      .buttons {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 28px;
        button {
          padding: 26px 38px;
          border-radius: 14px;
          border: none;
          background-color: #0075ff;
          font-family: Roboto;
          font-size: 18px;
          font-weight: 700;
          color: #fff;
        }
        .tell {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          gap: 16px;
          .text-tell {
            display: flex;
            flex-direction: column;
            gap: 4px;
            pre {
              font-family: Roboto;
              font-size: 16px;
              color: #6e7191;
            }
            a {
              text-decoration: none;
              font-family: Roboto;
              font-size: 28px;
              font-weight: 700;
              color: #211f54;
            }
          }
        }
      }
    }
  }
}
